ignore
.env
gunicorn.config.py
ignore/app.py
ignore/requirements.txt
env310
googlecred.json
jsongooglecloud.json
test.ipynb
audio.wav
upgrade.ipynb
.vscode
document.txt
gemini_rag.py
vythiri_faq.txt
working_scripts.ipynb
malayalam_tts_output.wav